@page
@model IndexModel
@{
    ViewData["Title"] = "5LIVES";
}

<div class="container">
    <div id="lives-image"></div>
    <h1>WELCOME TO 5Lives</h1>
    <h3 id="lives-display"></h3>
    <h3 id="guesses-display"></h3>
    <h3>There are only FIVE words...!</h3>
    <h3>Can you solve them all...!</h3>
    <h3 id="points-display"></h3>
    <h4>FIRST WORD</h4>
    <div id="word-display1"></div>
    <h4>SECOND WORD</h4>
    <div id="word-display2"></div>
    <h4>THIRD WORD</h4>
    <div id="word-display3"></div>
    <h4>FORTH WORD</h4>
    <div id="word-display4"></div>
    <h4>FIFTH WORD</h4>
    <div id="word-display5"></div>
    <div id="keyboard"></div>
    <div id="message"></div>
    <button id="reset-button">Reset Game</button>
</div>

<script src="~/script.js"></script>
<link rel="stylesheet" href="~/style.css">
