body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
    background-color: black;
}

.container {
    text-align: center;
    color: white;
}
/*
#lives-image {
    height: 10px;
    margin-bottom: 20px;
}
*/
#word-display1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
}

    #word-display1 span {
        border: 1px solid red; 
        padding: 2px; 
        margin: 1px; 
        display: inline-block; 
    }

#word-display2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    /*border: 1px solid red; */
}

#word-display2 span {
    border: 1px solid red;
    padding: 2px;
    margin: 1px;
    display: inline-block;
}

#word-display3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;/
}

#word-display3 span {
    border: 1px solid red;
    padding: 2px;
    margin: 1px;
    display: inline-block;
}

#word-display4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;*/
}

#word-display4 span {
    border: 1px solid red;
    padding: 2px;
    margin: 1px;
    display: inline-block;
}

#word-display5 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
}

#word-display5 span {
    border: 1px solid red;
    padding: 2px;
    margin: 1px;
    display: inline-block;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
}

    #keyboard button {
        width: 30px;
        height: 30px;
        margin: 2px;
        font-size: 16px;
        text-align: center;
    }

    #keyboard .row {
        display: flex;
        width: 100%;
        justify-content: center;
    }

.selected {
    background-color: green; /* Change to your desired color */
    color: black; /* Optional: Change text color */
}

.notselected {
    background-color: red; /* Change to your desired color */
    color: black; /* Optional: Change text color */
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

footer {
    text-align: center;
}

#scoreboard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: red;
    width: 300px;
    font-family: Arial, sans-serif;
}

    #scoreboard h3 {
        margin-top: 0;
        text-align: center;
    }

    #scoreboard .header, #scoreboard .entry {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    #scoreboard .header {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    #scoreboard .entry {
        border-bottom: 1px solid #eee;
    }

        #scoreboard .entry:last-child {
            border-bottom: none;
        }
