body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    text-align: center;
    color: white;
}

#lives-image {
    height: 10px;
    margin-bottom: 20px;
}

#word-display1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    border: 1px solid red; /* Temporary border for visibility */
}

#word-display2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    border: 1px solid red; /* Temporary border for visibility */
}

#word-display3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    border: 1px solid red; /* Temporary border for visibility */
}

#word-display4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    border: 1px solid red; /* Temporary border for visibility */
}

#word-display5 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkgreen;
    border: 1px solid red; /* Temporary border for visibility */
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
}

    #keyboard button {
        width: 30px;
        height: 30px;
        margin: 2px;
        font-size: 16px;
        text-align: center;
    }

    #keyboard .row {
        display: flex;
        width: 100%;
        justify-content: center;
    }

.selected {
    background-color: yellow; /* Change to your desired color */
    color: black; /* Optional: Change text color */
}

.notselected {
    background-color: red; /* Change to your desired color */
    color: black; /* Optional: Change text color */
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

footer {
    text-align: center;
}
