body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
    background-color: black;
}

.container {
    text-align: center;
    color: white;
}
/*
#lives-image {
    height: 10px;
    margin-bottom: 20px;
}
*/
#word-display1 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    #word-display1 span {
        border: 1px solid white;
        padding: 2px;
        margin: 1px;
        display: inline-block;
        width: 30px; /* Set a fixed width */
        height: 30px; /* Set a fixed height if needed */
        box-sizing: border-box; /* Include padding and border in the width and height */
        text-align: center; /* Center the text inside the box */
    }

#word-display2 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    #word-display2 span {
        border: 1px solid white;
        padding: 2px;
        margin: 1px;
        display: inline-block;
        width: 30px; /* Set a fixed width */
        height: 30px; /* Set a fixed height if needed */
        box-sizing: border-box; /* Include padding and border in the width and height */
        text-align: center; /* Center the text inside the box */
    }

#word-display3 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    #word-display3 span {
        border: 1px solid white;
        padding: 2px;
        margin: 1px;
        display: inline-block;
        width: 30px; /* Set a fixed width */
        height: 30px; /* Set a fixed height if needed */
        box-sizing: border-box; /* Include padding and border in the width and height */
        text-align: center; /* Center the text inside the box */
    }

#word-display4 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    #word-display4 span {
        border: 1px solid white;
        padding: 2px;
        margin: 1px;
        display: inline-block;
        width: 30px; /* Set a fixed width */
        height: 30px; /* Set a fixed height if needed */
        box-sizing: border-box; /* Include padding and border in the width and height */
        text-align: center; /* Center the text inside the box */
    }

#word-display5 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    #word-display5 span {
        border: 1px solid white;
        padding: 2px;
        margin: 1px;
        display: inline-block;
        width: 30px; /* Set a fixed width */
        height: 30px; /* Set a fixed height if needed */
        box-sizing: border-box; /* Include padding and border in the width and height */
        text-align: center; /* Center the text inside the box */
    }

#keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
}

    #keyboard button {
        width: 30px;
        height: 30px;
        margin: 2px;
        font-size: 16px;
        color: white;
        font-weight: bold;
        text-align: center;
        text-align: center;
        border-radius: 50%; /* Make buttons circular */
    }

    #keyboard .row {
        display: flex;
        width: 100%;
        justify-content: center;
    }

.selected {
    background-color: dimgrey; /* Change to your desired color */
    color: white; /* Optional: Change text color */
}

.notselected {
    background-color: black; /* Change to your desired color */
    color: dimgrey; /* Optional: Change text color */
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

footer {
    text-align: center;
}

#scoreboard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    width: 300px;
    font-family: Arial, sans-serif;
}

    #scoreboard h3 {
        margin-top: 0;
        text-align: center;
    }

    #scoreboard .header, #scoreboard .entry {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    #scoreboard .header {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    #scoreboard .entry {
        border-bottom: 1px solid #eee;
    }

        #scoreboard .entry:last-child {
            border-bottom: none;
        }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 200px; /* Could be more or less, depending on screen size */
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

#lostMessage {
    color: #ff0000; /* Red text for the lost message */
}


#wonMessage {
    color: darkgreen; /* Red text for the lost message */
}

#continueButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    margin-top: 10px; /* Margin on top */
}

x
#continueButton:hover {
    background-color: #45a049; /* Darker green on hover */
}

#submitNameButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    margin-top: 10px; /* Margin on top */
}

    #submitNameButton:hover {
        background-color: #45a049; /* Darker green on hover */
    }

#gameOverMessage {
    color: #ff0000; /* Red text for the lost message */
}

#continue-button {
    background-color: black;
    color: black;
    border: none;
    padding: 1px 1px;
    border-radius: 1px;
    cursor: pointer;
}

    #continue-button:hover {
        background-color: black;
    }
